---
layout: default
---

<!-- Page Header -->
<header class="intro-header landing" style="background: rgb(74, 71, 87);">
  <div class="container">
    <div class="col-xs-12 col-sm-8 pt-5 text-warning">
      <h1>Hi 👋, I'm Evgenii Burmakin,</h1>
      <p>welcome to my place.</p>
      <p>I'm a backend developer with over 10 years of experience in the industry. I enjoy tinkering with new stuff. When something excites me, I write about it. Here, or on my <a href="https://t.me/successismyonlymthrfckngoption">telegram channel</a></p>
      <p>My current focus is on Ruby, Ruby on Rails and homelabbing. You can learn more about what I'm doing <a href="/now">now</a>, check out my <a href="/blog">blog</a>, or scroll down to see what I've done.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="img/avatar.jpeg" alt="" width="250" class="img-responsive">
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
